footer {
    background: #343a40 !important;
    color: rgba(255,255,255,.5);
    width: 100%;
    padding: 20px 0;
    .contact a {
        color: rgba(255,255,255,.5);
    }
    .contact p {
        display: inline;
        padding-left: 1rem;
    }
    .copyright p{
        margin-bottom: 0;
    }
    hr {
        border-top: solid 1px rgba(255,255,255,.5) !important;
    }
}