#search {
    padding: .5rem 0;
    margin-bottom: 2rem;
    width: 40px;
    -webkit-transition: all 1s;
    transition: all 1s;
    #search-bar {
        padding-left: 1.5rem;
        display: none;
    }
    #search-icon {
        color: #fff;
        position: absolute;
        line-height: 2.7rem;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
    &:hover {
        width: 200px;
        margin-bottom: 0;
        #search-bar {
            display: block;
        }
        #search-icon {
            color: blue;
            line-height: 2.5rem;
            padding-left: .5rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    #search {
        padding: 0 .5rem;
    }
}