#profile {
    margin: 20px;
    #profile-row {
        .profile-card {
            display: flex;
            .front {
                backface-visibility: hidden;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .card-box {
                width: 100%;
                .card-h {
                    height: 100%;
                    .card-flip {
                        width: 70%;
                        margin: 20px auto;
                        position: relative;
                        perspective: 1000px;
                    }
                    .card-flip.hover .flip {
                        transform: rotateY(180deg);
                    }
                    @media not all and (pointer: coarse) {
                        .card-flip:hover .flip {
                            transform: rotateY(180deg);
                        }
                    }
                    .card-bg {
                        position: absolute;
                        opacity: 0.1;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        z-index: 0;
                        backface-visibility: hidden;
                    }
                    .flip {
                        transition: 0.6s;
                        transform-style: preserve-3d;
                        position: relative;
                        height: 100%;
                        border: 1px solid #666666;
                        box-shadow: 0 0 10px rgba(0, 151, 197, 0.774);
                    }
                    .flip .front {
                        padding-top: 30px;
                        padding-left: 30px;
                        padding-right: 30px;
                        padding-bottom: 25px;
                    }
                    .tech-box {
                        margin-top: 5px;
                        margin-bottom: 5px;
                        margin-right: 5px;
                        padding: 1px 6px;
                        border-radius: 5px;
                        color: #fff;
                        background-color: rgba(0, 151, 197, 1);
                        display: inline-block;
                    }
                }
            }
        }
    }
}
.back {
backface-visibility: hidden;
position: absolute;
left: 0%;
width: 100%;
height: 100%;
top: 0;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
.front {
z-index: 1;
transform: rotateY(0deg);
}

.back {
transform: rotateY(180deg);
}

.back-box {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.back-box a p {
padding: 5px 10px;
border-radius: 5px;
color: #fff;
background-color: rgb(25, 181, 233);
text-align: center;
}
.back-box a p:hover {
background-color: rgb(0, 126, 165);
}
.back-box a {
text-decoration: none !important;
}
  